@use "@picocss/pico/scss/pico"; 
/* To import only what you need from Pico [check the documentaion](https://picocss.com/docs/customization.html) */

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

button {
    padding: 0.25rem 0.5rem;
}

a {
    text-decoration: none;
}

dialog {
    width: revert-layer;
    min-width: revert-layer;
    height: revert-layer;
    min-height: revert-layer;
    background-color: transparent;
}

dialog::backdrop {
    background-color: var(--pico-modal-overlay-background-color);
    backdrop-filter: var(--pico-modal-overlay-backdrop-filter)
}

body {
    width: min(100dvw, 1536px);
    height: 100dvh;
    margin: auto;
    outline: 1px solid oklch(from var(--pico-contrast) l c h / 0.15);
    overflow: hidden;
}

@media (min-width: 768px) {
    body {
        display: flex;
    }
}
