@use "@picocss/pico/scss/pico"; 
/* To import only what you need from Pico [check the documentaion](https://picocss.com/docs/customization.html) */

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

button {
    padding: 0.25rem 0.5rem;
}

a {
    text-decoration: none;
}

li:has(input[type="checkbox"]) {
    list-style: none;
}

dialog {
    width: revert-layer;
    min-width: revert-layer;
    height: revert-layer;
    min-height: revert-layer;
    background-color: transparent;
}

dialog::backdrop {
    background-color: var(--pico-modal-overlay-background-color);
    backdrop-filter: var(--pico-modal-overlay-backdrop-filter)
}

body {
    width: min(100dvw, 1536px);
    height: 100dvh;
    margin: auto;
    outline: 1px solid oklch(from var(--pico-contrast) l c h / 0.15);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

body:has(.auth) {
    grid-template-rows: unset;
    grid-template-columns: unset;
}

.page {
    display: flex;
    overflow: hidden;
}

.dialog-container {
    padding: 1rem;
    border: 2px solid var(--pico-muted-color);
    border-radius: 1rem;
}



.markdown-alert {
    padding: 0.15rem 1rem;
    margin-bottom: 1rem;
    border-left: 3px solid var(--alert-color);
    --alert-color: var(--pico-muted-color);

    & > *:last-child {
        margin-bottom: 0;
    }
}

.markdown-alert-title {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--alert-color);
}

.markdown-alert-note {
    --alert-color: rgb(81, 123, 221);
}

.markdown-alert-tip {
    --alert-color: rgb(49, 197, 49);
}

.markdown-alert-warning {
    --alert-color: rgb(245, 178, 54);
}

.markdown-alert-caution {
    --alert-color: rgb(255, 76, 76);
}

.markdown-alert-important {
    --alert-color: rgb(168, 69, 168);
}

@media (min-width: 768px) {
    body {
        grid-template-columns: auto 1fr;
        grid-template-rows: unset;
    }
}
